
    body {
        background-color: black;
        color: gray;
    }
    .box {
        background-color: black-;
        padding: 10px;
        border-radius: 10px;
        width: 1500px;
        border: 2px solid ;
        
    }