.new_post {
    width: 400px;
    background: rgb(36, 34, 34);
    color:white;
    padding: 20px;
    border-radius: 15px;  
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: orange;
}

.new_post h2 {
    color: orange;
}

.new_post span {
    color: rgb(78, 217, 78);
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    background-color: rgb(36, 34, 34);
}

button {
    width: 100%;
    background: rgb(78, 217, 78);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


body {
    background-color: black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 50px;
}


.profil-qismi {
    background-color: rgba(110, 107, 107, 0.206);
    color: white;
    width: 380px;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 10px 30px qora;
}


.header {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 25px;
}

.avatar {
    width: 70px;
    height: 70px;
    border: 3px solid orange;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-right: 15px;
}

.ism h2 {
    margin: 0;
    font-size: 20px;
}

.kasb {
    color: orange;
    margin: 5px 0;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    color: gray;
    cursor: pointer;
}

.tajriba {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.malumot {
    background-color: rgb(36, 34, 34);
    flex: 1;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}
.narxi {
    font-family: sans-serif;
    color: green;
    font-size: 20px;
}
.yili {
    color: orange;
    font-family: sans-serif;
    font-size: 20px;
}
.telefoni {
    color: orange;
    text-decoration: underline;
}
.portefeli {
    color: orange;
    font-family: sans-serif;
}
.post {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}
.xabarquti {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 15px 30px;
}

.logo {
  color: orange;
  font-size: 24px;
  font-weight: bold;
}

nav a {
  color: #ddd;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  transition: 0.3s;
}

nav a:hover {
  color: orange;
}

.profil {
  color: rgb(236, 158, 13);
}
